* {
    border:        none;
    border-radius: 0;
    font-family:   "DroidSansMNerdFont";
    font-size:     17px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0.3s;
}


window#waybar {
    color: #ffffff;
    background-color: #443833;
    border-bottom: 2px solid #332222;
}

window#waybar.solo {
    color: #ffffff;
}


#workspaces {
    margin: 0px 16px 6px 3px;
    padding: 0px 3px;
    color: #333333;
    background: linear-gradient(135deg, #332222 calc(100% - 4px), rgba(0,0,0,0) 0%);
}


#custom-scratchpad {
    margin: 0px	5px;
    padding: 0px 5px;
}


#workspaces button {
    margin: 0px 3px;
    padding: 0px 3px;
    color: #884433;
}

#workspaces button.focused {
    color: #ff8844;
}

#workspaces button.visible {
    color: #dd6622;
}

#workspaces button.urgent {
    color: #88aacc;
}


#mode, 
#battery, 
#cpu, 
#memory, 
#network, 
#pulseaudio, 
#idle_inhibitor, 
#temperature,
#custom-layout,
#backlight,
#clock,
#tray,
#custom-zypper,
#custom-notification {
    margin: 0px 3px 6px 3px;
    padding: 0px 16px 0px 8px;
    color: #333333;
    background: linear-gradient(135deg, #88ee88 calc(100% - 4px), rgba(0,0,0,0) 0%);
}


#backlight {background: linear-gradient(135deg, #ffcc88 calc(100% - 4px), rgba(0,0,0,0) 0%);}
#temperature {background: linear-gradient(135deg, #ff8877 calc(100% - 4px), rgba(0,0,0,0) 0%);}
#network {background: linear-gradient(135deg, #aaccff calc(100% - 4px), rgba(0,0,0,0) 0%);}
#memory {background: linear-gradient(135deg, #ddbbff calc(100% - 4px), rgba(0,0,0,0) 0%);}
#cpu {background: linear-gradient(135deg, #ddbbff calc(100% - 4px), rgba(0,0,0,0) 0%);}
#pulseaudio {background: linear-gradient(135deg, #bb7856 calc(100% - 4px), rgba(0,0,0,0) 0%);}
#tray {background: linear-gradient(135deg, #bb5555 calc(100% - 4px), rgba(0,0,0,0) 0%);} 
#custom-zypper {background: linear-gradient(135deg, #ddbbff calc(100% - 4px), rgba(0,0,0,0) 4px);}


#clock {margin: 0px 12px 6px 12px;background: linear-gradient(135deg, #bb7856 calc(100% - 4px), rgba(0,0,0,0) 0%);}
#custom-notification {background: linear-gradient(135deg, #bb5555 calc(100% - 4px), rgba(0,0,0,0) 4px);}


#battery.warning {background: linear-gradient(135deg, #eecc88 calc(100% - 4px), rgba(0,0,0,0) 0%);}

#battery.critical {background: linear-gradient(135deg, #ee7766 calc(100% - 4px), rgba(0,0,0,0) 0%);}

#battery.charging {background: linear-gradient(135deg, #77ff77 calc(100% - 4px), rgba(0,0,0,0) 0%);}

